body {
    background-image: url("https://www.jqueryscript.net/images/Create-An-Animated-Radial-Gradient-Background-With-jQuery-CSS3.jpg");
    background-size:cover;
    margin: 0px;
}
#rhymespara {
    font-size: 25px;
    font-weight: bold;
    font-family: Copperplate, Papyrus, fantasy;
    color: aliceblue;
    position: absolute;
    top: 150px;
    left: 90px;
}
#rhymesheading {
    font-family: Segoe Print;
    color: rgb(250, 242, 242);
    position: relative;
    /* bottom: 50px; */
    /* border-top: 4px solid white; */
    /* border-bottom: 4px solid white; */  
}
#rhymesmain {
    
    padding: 1px;
    /* background-color: brown; */
    text-align: center;
    position: relative;
    top: 250px;
    left: 100px;
    height: 500px;
    width: 300px;
    border-radius: 20px;
}
 ::placeholder {
    color: white;
    font-weight:bold;
    letter-spacing: 2.5px;
    text-align: center;
 }
#rhymesinput {
    
    color: white;
    outline: none;
    border-radius: 10px;
    text-align: center;
    position: relative;
    height: 50px;
    width: 280px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    transition: 0.3s ease-out;
    
    
    /* border-radius: 10px; */
}

#rhymessubmit:active {
    
    background-color: rgb(38, 153, 219);
    transform: translateY(5px);
}
#rhymessubmit {
    box-shadow: 0PX 5px yellow;
    cursor: pointer;
    color:white;
    font-size: x-large;
    background-color: black;
    position: relative;
    height: 50px;
    width: 160px;
    border-radius: 10px;
    

}
#rhymescontent {
    border-radius: 8px;
    color: white;
    position: relative;
    margin: auto;
    top: 30px;
    left: 10px;
    font-weight:bolder;
    font-size: x-large;
    text-align: center;
    width: 200px;
    height: 170px;
    /* background-color: cornsilk; */
  }
  footer {
      position: absol;
      color: white;
      float: right;
      padding: 10px 30px;
      
      
  }